
body {
    background-image: url('./../images/background.jpg');
    background-repeat: repeat;
}


* {
    font-family: 'PT Sant', sans-serif;
    color: 3a0b92;
}

h1 {
    text-align: center;
}

label {
    font-size: large;
}

button {
    font-size: medium;
}

input {
    border-radius: 10px;
    font-size: large;
}

.card-fifo {
    background: rgb(204,153,255);
    background: linear-gradient(221deg, rgba(204,153,255,0.6) 0%, rgba(140,26,255,0.6) 100%);

    aspect-ratio: 10/16;
    width: 80%;
    height: 20rem;
    padding: 5px;
    margin: 20px;
    border-radius: 16px;
    position: relative;
}

.card-stack {
    background: rgb(204,153,255);
    background: linear-gradient(221deg, rgba(204,153,255,0.6) 0%, rgba(140,26,255,0.6) 100%);

    aspect-ratio: 10/16;
    width: 80%;
    height: 20rem;
    padding: 5px;
    margin: 20px;
    border-radius: 16px;
    position: relative;
}


.card-body {
    background: rgba(250, 250, 250, 0.3);
    
    width: 100%;
    height: 100%;
    border-radius: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    
}

.card-input input {
   /*width: 100%; */
}

.card-operation {
    padding: 10px;
    width: 70%;

    display: flex;
    align-content: space-around;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn {
    border-radius: 18px;
    background: rgb(230, 208, 253);
    box-shadow:  -9px 9px 25px rgba(140,26,255,0.6),
        9px -9px 25px rgb(230, 208, 253);
    
}

.btn:active {
    border-radius: 18px;
    background: linear-gradient(225deg, #e6e6e6, rgba(140,26,255,0.4));
    box-shadow:  -9px 9px 25px #c4c4c4,
        9px -9px 25px #ffffff;
}

